.container{
    /* width: 100%; */
    height: 780px;
    border: 20px solid aqua;
    border-top-width: 60px;
    border-bottom-width: 0px;
}
.container_top{
    display: flex;
    justify-content: center;
    margin-top: -70px;
    font-family: sans-serif;

}
.container_body{
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    font-weight: 500;
}
.form{
    width: 150px;
    margin: 0 auto;
}
.form-cont{
    width: 280px;
    justify-content: space-between;
    display: flex;
    margin-top: 10px;
    height: 30px;
    align-items: center;
}
.form-cont li{
 font-family: sans-serif;
 
}
.form-cont input{
    padding: 5px;
}
.option{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 600px;
    font-family: sans-serif;
    height: 50px;
    margin-top: 80px;
}
.input-radio-option{
    display: flex;
    width: 200px;
}
.option h3{
    font-size: 18px;
}
.input-radio{
    display: flex;
    flex-direction: column;
}
#options{
    height: 40px;
    font-family: sans-serif;
    width: 150px;
    margin-top: 20px;
}
.container2{
    border: 1px solid black;
    height: 500px;
    margin: 80px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}
.green{
    width: 950px;
    height: 200px;
    background-color: green;
    margin-top: 10px;
}
.green p{
    color: #fff;
    text-transform: uppercase;
    padding-top: 50px;
    padding-left: 50px;
}
.yellow{
    width: 280px;
    height: 370px;
    margin: 0 auto;
    background-color: yellow;
}
.yellow p{
    padding-top: 50px;
    text-transform: uppercase;
    padding-left: 50px;
}
.yellow-box{
    display: flex;
    width: 150px;
    justify-content: center;
    margin-top: 15px;
    margin-left: 50px;
    height: 40px;
    background-color: white;
}
.yellow-box p{
 padding-top: 0;
 padding-left: 0;
}
.color-cont{
    display: flex;
    align-items: center;
    width: 1000px;
    justify-content: space-between;
}
.orange{
    width: 350px;
    height: 170px;
    background-color: orange;
}
.orange p{
    padding-left: 50px;
    padding-top: 50px;
}
.blue{
    width: 350px;
    height: 170px;
    background-color: aqua;
}
.blue p{
    padding-left: 50px;
    padding-top: 50px;
}
.red{
    width: 280px;
    height: 370px;
    margin: 0 auto;
    background-color: red;
}
.red p{
    padding-top: 50px;
    text-transform: uppercase;
    padding-left: 50px;
}
.red-box{
    display: flex;
    width: 150px;
    justify-content: center;
    margin-top: 15px;
    margin-left: 50px;
    height: 40px;
    background-color: white;
}
.red-box p{
 padding-top: 0;
 padding-left: 0;
}
.container3{
    border: 1px solid black;
    height: 500px;
    margin: 80px auto;
    display: flex;
    flex-direction: column;
    width: 90%;
}
.container-dot{
    display: flex;
    align-items: center;
    border: 4px dotted green;
    margin: 0 auto;
    width: 600px;
    margin-top: 20px;
    height: 20px;
}
.container-dot2{
    display: flex;
    align-items: center;
    border: 4px dotted green;
    margin: 0 auto;
    width: 600px;
    margin-top: 20px;
    height: 20px;
}
.container-dot2 p{
    margin:0 auto;
}
.cont-figure{
    margin: 20px auto;
    width: 500px;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    border-top: 150px solid blue;
}
