*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html{
    overflow-x: hidden;

}
.logo{
    display: flex;
    flex-direction: column;
    
}
.container_top{
    display: flex;
    margin-top: 50px;
    justify-content: space-around;
}
.container_link{
    display: flex;
    justify-content: space-around;
    max-width: 500px;
    position: relative;
    flex-wrap: wrap;
    border-radius: 7px;
    background-color: #54472a;
}

.topimg{
    position: absolute;
    right: 3%;
    z-index: -10;
    top: -40px;
}
.bottomimg{
    position: absolute;
    left: -8%;
    margin-top: 7%;
}
.container_link li{
    height: 45px;
    width: 110px;
    border-radius: 10px;
    text-align: center;
    padding-top: 8px;
    font-family: Trebuchet;
    border-left: 1px solid rgb(87, 86, 86);
    font-size: 18px;
    background-color: #54472a;
    list-style: none;
    font-weight: 700;
    font-style: italic;
}
.container_link a{
    color: #ece8d7;
    text-decoration: none;
}
.logo h4{
    color: #307d34;
    font-family: "Trebuchet MS";
    font-size: 14px;
    font-weight: 400;

    text-align: left;
    text-transform: uppercase;
}
.body{
    width: 90%;
    position: relative;
    background-color: rgb(255, 255, 255);
    height: fit-content;
    padding: 25px;
    border-radius: 15px;
    margin: 120px auto;
    -webkit-box-shadow: 0px 0px 23px -9px #000000; 
    box-shadow: 0px 0px 23px -9px #000000;
}
.body_top_bg img{
    height: fit-content;
    position: absolute;
    max-width: 100%;
    object-fit: cover;
    opacity: 0.77;
    z-index: -10;
    top: -100px;
}
.body_top_text h2{
    color: #47443a;
}
.body_top_image_info{
    margin-top: 50px;
}
.body_top_image_info_cont{
    width: 100%;
}
.body_top_text{
    display: flex;
    padding-top: 40px;
    width: 50%;
    justify-content: space-between;
}
.image-cont img{
    max-width: 100%;
    border: 5px solid rgb(155, 154, 154);
}
.image-cont{
    border-radius: 18px;
    height: fit-content;
    width: 90%;
}
.body_top_image_info img{
    border-radius: 15px;
}
.body_top_text_cont{
    display: flex;
    justify-content: space-between;
}
.readmore{
    color: #db6e35!important;
    font-family: "Times New Roman PS - Bold Italic MT"!important;
    font-size: 14px!important;
    font-weight: 600!important;
    text-align: right !important;
}
.body_top_text h3{
    color: #538c2e;
}
.body_top_text h4{
    color: #db7037;
}

.body_top_image_texts{
    max-width: 70%;
}
.body_top_image_texts p{
    margin-top: 30px;
    color: #307d34;
}
.body_top_image_texts h4{
    color: #4e3222;
    margin-top: 30px;
    font-weight: 500;
}
.body_top_image_texts span{
    font-weight: 600;
    color: black;
}
.body__right{
    border-left: 3px dotted rgb(219, 219, 219);
    padding-left: 25px;
}
.body_right_text{
    margin-top: 100px;
    max-width: 80%;
}
.body_right_text h2{
    margin-bottom: 30px;
}
.body_right_text p{
    color: #4f862b;
    margin-top: 30px;
}
.viewmore span{
    color: #db7037;
    font-family: "Times New Roman PS - Bold Italic MT";
    font-size: 17px;
    font-weight: 600;
    margin-top: 15px;
    text-decoration: underline;
    font-style: italic;
}
.buttons{
    display: flex;
    flex-direction: column;
}
.button{
    width: 200px;
    background-color: green;
    color: #fff;
    height: 55px;
    border-radius: 8px;
    border: none;
    font-family: sans-serif;
    font-size: 18px;
    margin-top: 15px;
    outline: none;
}
.body__footer{
    display: flex;
    justify-content: space-around;
    width: 80%;
    font-family: sans-serif;
    margin: 25px auto;
    border: 3px dotted rgb(224, 224, 224);
    padding: 8px;
}
.body__footer h2{
    font-size: 18px;
    color: rgb(66, 66, 66);
}
.footer_cont{
    display: flex;
    padding: 15px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.page_infos{
    margin-top: 80px;
    max-width: 500px;
    padding: 15px;
}
.page_infos h2{
    color: white;
    font-family: sans-serif;
    border-bottom: 3px dotted rgb(214, 211, 211);
    margin-bottom: 15px;
    margin-top: 15px;
}
.page_infos p {
    color: rgb(201, 199, 199);
    font-family: sans-serif;
}
.bg_footer{
    height: 30px;
    background-color: #000;
}
.pagination_links{
    margin-left: 15px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.pagination_links p{
    padding-left: 10px;
    margin-left: 15px;
    border-left: 1px solid gray;
}
.pagination_links p:hover{
    color: red;
}
.button2{
    background-color: rgb(209, 102, 2);
}
footer{
    height: fit-content;
    background-color: #54472a;
    margin-top: -200px;
}
@media only screen and (max-width: 450px) {
    .bottomimg{
        margin-top: 15%;
    }
}
@media only screen and (max-width: 1050px) {
   .body_top_text_cont{
       flex-direction: column;
   }
   .image-cont{
       display: flex;
       justify-content: center;
       width: 100%;
   }
   .body_top_text{
    width: 85%;
   }
   .body__right{
    margin-top: 50px;
    border: none;
   }
   .body_top_image_texts{
    max-width: 70%;
    text-align: left;
    margin: 0 auto;
   }
   .container_top{
       flex-direction: column;
       align-items: center;
   }
   .body_top_bg img{
       max-width: 85%;
   }
   
  }