*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.head{
    width: 100%;
    height: 100%;
    background-image: url('./image/w-qjCHPZbeXCQ-unsplash.jpg');
    background-size: cover;
    padding: 20px 50px;
}
.head span{
    font-size: 16px;
}
.pc-parts{
    margin-top: 50px;
}
.pc-parts li{
    margin:10px 20px;
    color: rgb(21, 102, 21);
}
.processor h2{
    text-align: center;
}
.processor p{
    margin-top: 20px;
}
.processor li{
    margin-top: 20px;

}
.pc-info span{
    font-weight: bold;
}
.pc-info h2{
    margin-top: 20px;

}
.pc-info{
    margin-left: 30px;
}
.monitor h2{
    text-align: center;
}
.monitor{
    margin-top: 50px;

}