body{
    background: rgb(137, 165, 14);
}
.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family:sans-serif;
    align-items: center;
    text-align: center;
    
}
.basics p{
    font-size: 1.2rem;

}