body{
   background: orange;
}
.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family:sans-serif;
    align-items: center;
    font-family: sans-serif;
    text-align: center;
}
