body{
    background-image: url("https://3.bp.blogspot.com/-7x5c_f1yzsQ/XHv9FZKHrEI/AAAAAAAADrE/4iGl9Lm6K2odX4SdWbU_RN6gZesx4IaGACEwYBhgL/s1600/html.jpg");
}
.main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin: auto;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.HTML li{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
    margin: 8px;
    color: rgb(0, 0, 0);
}
.html__link{
    display: flex;
    flex-direction: column;
}
.HTML{
    width: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin:  0 auto;
}
.html__link{
    margin-top: 50px;
}
.html__link a{
    color: rgb(0, 0, 0);
}
.html__link a:hover{
    color: rgb(230, 230, 230);
}