.container{
    border: 1px solid black;
    width: 1000px;
    height: 800px;
    margin: 0 auto;
}
.container__top__main img{
    width: 1000px;
    height: 200px;
}
.container__top{
    display: flex;
    background-color: rgb(102, 101, 101);
    margin-top: -5px;
    height: 50px;
}
.container__top li{
    list-style: none;
    margin-left: 20px;
    margin-top: 10px;
}
.container__top a{
    color: rgb(243, 237, 237);
    text-decoration: none;

}
.container__body__left{
    width: 200px;
    height: 250px;
    background-color: grey;
}
.container__body{
    display: flex;
}
.container__body__left li{
    padding-top: 25px;
    padding-left: 15px;
    list-style: none;
}
.container__body__left__links{
    padding-bottom: 20px;
}
.container__body__left a{
    color: rgb(241, 231, 231);
    text-decoration: none;
}
.container__body__left__bg{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(124, 99, 99);
    height: 313px;
}
.container__body__left__bg h1{
    color: white;
    font-size: 3rem;
    transform: rotate(20deg);
}
.container__body__right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 40px;
    border: 1px solid black;
    margin: 0 auto;
}