.Html{
    border: 1px solid black;
    width: 1000px;
    height: 800px;
    margin: 0 auto;
}
.Html__top__main img{
    width: 1000px;
    height: 200px;
}
.Html__top{
    display: flex;
    background-color: rgb(102, 101, 101);
    margin-top: -5px;
    height: 50px;
}
.Html__top li{
    list-style: none;
    margin-left: 20px;
    margin-top: 10px;
}
.Html__top a{
    color: rgb(243, 237, 237);
    text-decoration: none;

}
.Html__body__left{
    width: 200px;
    height: 250px;
    background-color: grey;
}
.Html__body{
    display: flex;
}
.Html__body__left li{
    padding-top: 25px;
    padding-left: 15px;
    list-style: none;
}
.Html__body__left__links{
    padding-bottom: 20px;
}
.Html__body__left a{
    color: rgb(241, 231, 231);
    text-decoration: none;
}
.Html__body__left__bg{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(124, 99, 99);
    height: 313px;
}
.Html__body__left__bg h1{
    color: white;
    font-size: 3rem;
    transform: rotate(20deg);
}
.Html__body__right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 60%;
    font-family: sans-serif;
}
.copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 40px;
    border: 1px solid black;
    margin: 0 auto;
}
.registration__form input{
    width: 200px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid black;
    outline: none;
    padding-left: 15px;
}
.registration__form textarea{
    height: 50px;
}
.Html__body__right button{
    width: 200px;
    height: 40px;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: gray;
    border-radius: 5px;
    color: #fff;
}