.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto ;
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
  }
  
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 50px 0;
    font-size: 30px;
  }
  
  .item3 {
   grid-row:1/3;
   grid-column:3;
  }
  .item4{
    grid-row:1/2;
    grid-column:4 /6;
  }
  .item5{
    grid-row:2/4;
    grid-column:1 /2;
  }
  .item8{
    grid-row:2/4;
    grid-column:5 /6;
  }
  .item10{
    grid-row:3/4;
    grid-column:3 /5;
  }