*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo h1{
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container{
    overflow-x: hidden;
}
.container_top{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: 20px auto;
}
.links{
    font-family: sans-serif;
}
ul{
    display: flex;
}
.l{
    height: 25px;
    width: 2px;
    background-color: black;
}
ul li{
    margin-left: 25px;
    list-style: none;
}
.icons{
    display: flex;
    justify-content: space-around;
    width: 200px;
}
.body{
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
    margin: 50px auto;
}
.image_cont{

}
.image_cont img{
    height: 310px;
    max-height: 100%;
}
.box_cont{
    display: flex;
    position: relative;
    width: 300px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    margin-top: -100px;
    font-family: sans-serif;
    height: 150px;
    justify-content: center;
    margin: -80px auto;
}
.box h1{
    font-size: 20px;
    color: black;
    font-family: sans-serif;
}
.box p{
    color: red;
}
.box span{
    color: gray;
}
.container_top span{
    display: none;
}
@media only screen and (max-width: 1260px) {
    .box_cont{
        margin: 0 auto !important;

    }
  
}
@media only screen and (max-width: 1000px) {
    .container_top span{
        display: block;
}
ul{
    display: none;
}
.icons{
    display: none;
}
}

@media only screen and (max-width: 768px) {
    .image_cont img{
        margin-top: 50px;
        max-width: 100%;
        height: auto;
    }
   
    .box_cont{
        margin: 0 auto !important;
    }
    

}