*{
    margin:0;
    padding: 0;
    box-sizing: border-box;

}
.container{
    overflow-x: hidden;
    height: fit-content;
}
.header{
    display: flex;
    width: 100%;
    padding: 15px;
    align-items: center;
    justify-content: space-around;
}

.links{
    display: flex;
    width: 600px;
    justify-content: space-around;
    list-style: none;
}
.links li{
    font-weight: 600;
}
.header a{
    text-decoration: none;
    font-weight: 600;
    color: #000;
    font-size: 17px;
}
.body_title h3{
    text-align: center;
}
.body_form-text{
    margin-top: 70px;
    display: flex;
    justify-content: space-around;
    width: 80%;
}
.body_form-text_cont{
    margin-left: 11%;
}
.body_form-text_cont h2{
    font-size: 24px;
    color: #16415a;
    margin-bottom: 18px;
}
.body_form-text_cont p{
    font-size: 15px;
    color: rgba(22, 65, 90, 0.6);
    margin-bottom: 36px;
}
.inpt input{
    height: 50px;
    border-radius: 20px;
    border: solid 1px #F7F7F7;
    background-color: #F7F7F7;
    width: 380px;
    padding-left: 20px;
    outline: none;
}
.body__links ul{
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 50px auto;
    flex-wrap: wrap;
    padding: 17px;
}
.body__links li:hover{
    padding: 5px 0;
    font-family: 'FiraGO-Medium';
    color: red;
    border-bottom: 1px solid red;
    transition: all .2s ease-in-out;
}
.body__content_flex{
    display: flex;
    justify-content: center;
}
.body__content_flex img{
    max-width: 100%;
}
.body__content_flex_text{
    padding-left: 20px;
    padding-top: 15px;
    font-family: sans-serif;
}
.body__content_grid_text{
    font-family: sans-serif;
    color: rgba(22, 65, 90);
    max-width: 300px;
    margin: 0 auto;
}
.body__content_grid{
    max-width: 500px;
}
.grid{
    min-height: 100px !important;
    max-width: 300px;
}
.body__content_grid_cont{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 25px;
    width: 80%;
    margin: 40px auto;
    align-items: center;
}

.body__content_grid img{
    border-radius: 5px;
    max-width:100%;
}
.hov:hover{
    color: red;
    cursor: pointer;
}
.body__content_flex_text h3{
    color: #16415a;
    margin-bottom: 20px;
}
.body__content_flex p{
    max-width: 550px;
    color: #16415a;
    font-weight: 600;
}
.body__content_flex_bottom{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    min-height: 180px;
    margin-bottom: 15px;
    font-size: 15px;
}
.body__links li{
    padding: 5px 0;
    font-family: 'FiraGO-Medium';
    color: rgba(22, 65, 90, 0.6);
    font-weight: 600;
    cursor: pointer;
    list-style: none;
}
.inpt{
    display: flex;
}
.inpt button{
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    height: 50px;
    width: 180px;
    margin-left: -60px;
    border: none;
    outline: none;
    border-radius: 30px;
    background-color: #1861d6;
    cursor: pointer;
}
.body_form{
    display: flex;
    justify-content: space-around;
}
.header button{
    width: 150px;
    height: 50px;
    border-radius: 18px;
    border: none;
    font-family: 600;
    outline: none;
    font-size: 17px;
    background-color: blue;
    color: #fff;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  .sidenav li{
      list-style: none;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  .header_buttons span{
      display: none;
  }
  .header_buttons{
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 250px;
  }
  footer{
    background-color: rgba(44,145,239,1);
    padding: 15px;
    margin-top: 80px;
}
.footer_links_cont{
    display: grid;
    width: 90%;
    grid-template-columns: repeat(4,1fr);
    margin: 70px auto;
}
.footer_title{
    display: flex;
    justify-content: space-around;
}
.links a:hover{
    color: rgb(68, 68, 163);
}
.footer_title h2{
    color: #fff;

}
.line2{
    margin-top: 15px;
    background-color: #fff;
    margin-bottom: 15px;
}
.footer_links{
    font-family: sans-serif;
    color: #fff;
    list-style: none;
    line-height: 30px;
}
.header_buttons button a{
    color: #fff;
}
.img{
    margin: 0 auto;
}
.body_bottom img{
    max-width: 100%;
}
  @media screen and (max-width: 700px) {
    .header{
        flex-direction: column;
    }
    .body__content_grid_cont{
        grid-template-columns: repeat(1,1fr) !important;
    }
  }  
  @media screen and (max-height: 500px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  @media screen and (max-width: 1000px) {
    .header_buttons span{
        display: block;
    }
    .sidenav button {
        background-color: white;
        font-size: 15px;
        color: #818181;
        font-weight: 600;
        width: auto;
    }
    .body__content_grid_cont{
        grid-template-columns: repeat(2,1fr);
        text-align: center;
    }
    .body__content_flex{
        flex-direction: column;
        align-items: center;
    }
    .body_form-text{
        flex-direction: column;
    }
    .body__bottom{
        flex-direction: column-reverse;
    }
    .footer_links_cont{
        grid-template-columns: repeat(2,1fr);
    }
    .links{
        display: none;
    }
    .body_bottom{
        flex-wrap: wrap;
      text-align: center;

    }
  }
