*{
    margin:0;
    padding: 0;
    box-sizing: border-box;

}
.container{
    overflow-x: hidden;
    height: fit-content;
}
.header{
    display: flex;
    width: 100%;
    padding: 15px;
    align-items: center;
    justify-content: space-around;
}

.links{
    display: flex;
    width: 600px;
    justify-content: space-around;
    list-style: none;
}
.links li{
    font-weight: 600;
}
.header a{
    text-decoration: none;
    font-weight: 600;
    color: #000;
    font-size: 17px;
}
.header button{
    width: 150px;
    height: 50px;
    border-radius: 18px;
    border: none;
    font-family: 600;
    outline: none;
    font-size: 17px;
    background-color: blue;
    color: #fff;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  .sidenav li{
      list-style: none;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  .header_buttons span{
      display: none;
  }
  .header_buttons{
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 250px;
  }

  .body_top{
      background: url('./images/en-bg.jpeg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: left;
      height: 350px;
      margin-top: -20px;
  }
  .body__top_text{
      margin-top: 30px;
      margin-left: 8%;
      max-width: 600px;
  }
  .enterprise span{
      font-size: 55px;
      color:rgb(18, 56, 114);
  }
  .enterprise{
      display: flex;
      align-items: center;
      justify-content: space-around;
      font-family: sans-serif;
      color: #16415a;
      margin-top: 30px;
  }
  .enterprise button{
      width: 200px;
      height: 45px;
      border-radius: 15px;
      border: none;
      outline: none;
      font-weight: 600;
      color: #fff;
      background-color: rgb(47, 47, 201);
  }
  .body_bottom{
      display: flex;
      align-items: center;
      justify-content: space-around;
  }
  .body_bottom-2{
      flex-direction: row-reverse;
  }
  .links a:hover{
    color: rgb(68, 68, 163);
}
  .body_bottom_text{
      max-width: 500px;
  }
  .body_bottom_text h1{
      font-size: 25px;
      color: #16415a;
  }
  .body_bottom_text p{
    margin-top: 12px;
    color: #16415a;
  }
  .body__top_text{
      max-width: 400px;
  }
  .body__top_box_cont{
      display: flex;
      align-items: center;
      width: 90%;
      flex-wrap: wrap;
      margin: 40px auto;
      text-align: center;
      justify-content: space-around;
  }
  .body__top_box{
      margin-top: 20px;
  }
  .body__top_text h1{
    color: #003366;
    padding-top: 35px;
    font-size: 30px;
  }
  .body__top_text span{
      color: blue;
  }
  .body__top_text h4{
    padding-top: 25px;
    font-size: 17px;
    color: #003366;
  }
  footer{
    background-color: rgba(44,145,239,1);
    padding: 15px;
    margin-top: 80px;
}
.footer_links_cont{
    display: grid;
    width: 90%;
    grid-template-columns: repeat(4,1fr);
    margin: 70px auto;
}
.footer_title{
    display: flex;
    justify-content: space-around;
}
.footer_title h2{
    color: #fff;

}
.line2{
    margin-top: 15px;
    background-color: #fff;
    margin-bottom: 15px;
}
.footer_links{
    font-family: sans-serif;
    color: #fff;
    list-style: none;
    line-height: 30px;
}
.body_bottom img{
    max-width: 100%;
}
  @media screen and (max-width: 500px) {
    .header{
        flex-direction: column;
    }
  }  

  @media screen and (max-width: 700px) {
    .enterprise{
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
  }  
  @media screen and (max-height: 500px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  @media screen and (max-width: 1000px) {
    .header_buttons span{
        display: block;
    }
    .body__bottom{
        flex-direction: column-reverse;
    }
    .footer_links_cont{
        grid-template-columns: repeat(2,1fr);
    }
    .links{
        display: none;
    }
    .body_bottom{
        flex-wrap: wrap;
      text-align: center;

    }
  }