*{
    margin:0;
    padding: 0;
    box-sizing: border-box;

}
.container{
    overflow-x: hidden;
    height: fit-content;
}
.header{
    display: flex;
    width: 100%;
    padding: 15px;
    align-items: center;
    justify-content: space-around;
}

.links{
    display: flex;
    width: 600px;
    justify-content: space-around;
    list-style: none;
}
.links li{
    font-weight: 600;
}
.header a{
    text-decoration: none;
    font-weight: 600;
    color: #000;
    font-size: 17px;
}
.header button{
    width: 150px;
    height: 50px;
    border-radius: 18px;
    border: none;
    font-family: 600;
    outline: none;
    font-size: 17px;
    background-color: blue;
    color: #fff;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  .sidenav li{
      list-style: none;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  .body_title{
    text-align: center;
    color: #16415a;

  }
  .body_circle{
    display: flex;
    justify-content: space-around;
    width: 200px;
    margin:  20px auto;
    align-items: center;
    }
  .body_circle span{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    font-weight: 600;
    height: 34px;
    color: #1861d6;
    border: solid 1px #1861d6;
    border-radius: 20px;
  }
  .body_form{
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  .body_form a{
      padding-left: 10px;
      font-weight: 600;
  }
  .checkbox{
      width: 18px !important;
      height: 18px !important;
      margin: auto !important; 
  }
  .form_checkbox span{
      padding-left: 10px;
  }
  .body_form button{
    width: 350px;
    height: 50px;
    color: #fff;
    margin-top: 8px;
    border: none;
    font-weight: 600;
    border-radius: 30px;
    background-color: #1861d6;
  }
  .form_checkbox{
      display: flex;
      margin-top: 10px;
      align-items: center;
      justify-content: center;
  }
  .body_form input{
      width: 350px;
      height: 50px;
      border-radius: 15px;
      margin-top: 20px;
      padding-left: 18px;
      border: 1px solid gray;
      outline: none;
  }
  .line{
      width: 50px;
      height: 1px;
      background-color: gray;
  }
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  .header_buttons span{
      display: none;
  }
  .header_buttons{
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 250px;
  }
  footer{
    background-color: rgba(44,145,239,1);
    padding: 15px;
    margin-top: 80px;
}
.footer_links_cont{
    display: grid;
    width: 90%;
    grid-template-columns: repeat(4,1fr);
    margin: 70px auto;
}
.footer_title{
    display: flex;
    justify-content: space-around;
}
.footer_title h2{
    color: #fff;

}
.line2{
    margin-top: 15px;
    background-color: #fff;
    margin-bottom: 15px;
}

.links a:hover{
    color: rgb(68, 68, 163);
}

.links1{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 300px;
    margin-top: 25px;
    font-family: sans-serif;
    line-height: 25px;
}
.links1 li{
    font-size: 15px;
    font-weight: 500;
    list-style: none;
}
.footer_links{
    font-family: sans-serif;
    color: #fff;
    list-style: none;
    line-height: 30px;
}
.header_buttons button a{
    color: #fff;
}
@media screen and (max-width: 500px) {
    .header{
        flex-direction: column;
    }
    .body_form input{
        width: 60%;
    }
    .body_form button{
        width: 60%;
    }
  }  
  @media screen and (max-height: 500px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  @media screen and (max-width: 1000px) {
    .header_buttons span{
        display: block;
    }
    .sidenav button {
      background-color: white;
      font-size: 15px;
      color: #818181;
      font-weight: 600;
      width: auto;
    }
    .body__bottom{
        flex-direction: column-reverse;
    }
    .footer_links_cont{
        grid-template-columns: repeat(2,1fr);
    }
    .links{
        display: none;
    }
}