*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: fit-content;
}
.header{
    display: flex;
    width: 100%;
    padding: 15px;
    align-items: center;
    justify-content: space-around;
}

.links{
    display: flex;
    width: 600px;
    justify-content: space-around;
    list-style: none;
}
.links li{
    font-weight: 600;
}
.header a{
    text-decoration: none;
    font-weight: 600;
    color: #000;
    font-size: 17px;
}
.header button{
    width: 150px;
    height: 50px;
    border-radius: 18px;
    border: none;
    font-family: 600;
    outline: none;
    font-size: 17px;
    background-color: blue;
    color: #fff;
}
.body{
    background-image: url('./images/mage.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}
.body__texts{
 
    padding-top: 50px;
    padding-left: 50px;
}
.body__texts h1{
    font-family: 600;
    color: #fff;
}
.body__texts p{
    color: #fff;
    padding-top: 20px;
    font-weight: 600;

}
.input{
    margin-top: 50px;
    margin-left: 50px;
}
.input input{
    padding-left: 20px;
    width: 400px;
    height: 50px;
    border-radius: 25px;
    border: none;
    outline: none;
}
.input button{
    border-radius: 25px;
    width: 150px;
    height: 50px;
    background-color: blue;
    border: none;
    font-weight: 600;
    outline: none;
    color: #fff;
    margin-left: -60px;
}
.body__box-cont{
    display: flex;
    margin-top: 50px;
}

.body__info h2{
    text-align: center;
    color: rgb(26, 25, 25);
}
.body__box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
}
.body__box__info h3{
    color: rgb(26, 25, 25);
    padding-top: 5px;
    font-size: 22px;
}
.body__box__info p {
    color: rgb(26, 25, 25);
    padding-top: 10px;
    font-weight: 600;
    max-width: 300px;
}
.body__info_2{
    margin-top: 30px;
}
.icons_cont{
    margin-top: 50px;

}
.icons_info_cont{
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 90%;
    margin: 0 auto;
}
.icons_info h4{
    font-family: sans-serif;
}