body{
    background-color: gray;
    background-image: url();
}
.container{
    width: 100%;
}
.li-tags{
    margin: 20px 20px;
}
.container li{
    margin-top: 10px;
}
.li_1{
    color: silver;
}
.li_2{
    color: green;
}
.li_3{
    color: aqua;
}
.li_4{
    color: blueviolet;
}
.li_5{
    color: #fff;
}
.li-tags a{
    text-decoration: none;
}
.photos{
   display: flex;
   justify-content: center;
   height: 50vh;
   align-items: center;
}
.photos img{
    width: 250px;
    height: 200px;
    margin-left: 20px;
}
.copyright{
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 0 auto;

}
