body{
    background-image: url('./photos/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    width: 80%;
    margin: 0 auto;
}
.title{
    text-align: center;
}
.text-two img{
    width: 300px;
}
img{
    width: 300px;
}
.container-top{
    display: flex;
}
.container-top p{
    padding-left: 20px;
}
.container-bottom{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 20px;
}
.text-two{
    text-align: right;
    padding-right: 20px;

}
.copyright{
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 0 auto;

}
